<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <form action="/otp/{{otpPhone}}" method="POST" id="form">
                {{#if otperror}}
                <p class="error">{{otperror}} </p>
                {{/if}}

                {{#if reotp}}
                <p class="text-center mb-5 text-danger">{{reotp}}</p>
                {{/if}}

                <h2 class="fw-bold mb-2 text-uppercase">Login with otp</h2>
                <p class="text-white-50 mb-5">Please enter your mobile number!</p>

                <div class="form-outline form-white mb-4">
                  <input type="number" id="email" name="otp" class="form-control form-control-lg" />
                  <label class="form-label" for="typeEmailX">enter otp</label>
                </div>



                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                <div class="mt-5">
                  <a href="/resendOtp/{{otpPhone}}">resend otp</a><br>

                </div>
              </form>



            </div>